# 대용량 매출 데이터 (Google Drive에서 자동 다운로드)
dataset/tbsh_gyeonggi_day_202602_hwaseungsi.csv

# 학습된 모델 및 인코더 (LFS 미사용)
# 학습된 모델 및 인코더
model/
encoders/
*.pkl

# Python
.venv/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# 기타
*.egg-info/
dist/
build/
